* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy-Light"
}

body {
  width: 100vw;
  height: 100vh;
  /* background-color: aqua; */
}

.main {
  width: 100%;
  height: 100%;
  background-color: #dadada;
  display: flex;
}

.left {
  width: 78%;
  height: 100%;
  /* background-color: green; */
}

.right {
  width: 22%;
  height: 100%;
  /* background: #000; */
}

.left .ltop {
  width: 100%;
  height: 75%;
  /* background-color: chocolate; */
  background-image: url(https://images.unsplash.com/photo-1501004318641-b39e6451bec6?q=80&w=1373&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.ltop .logo {
  position: absolute;
  width: 15%;
  background-color: white;
  /* height: 20px; */
  border-radius: 4px;
  padding: 5px 24px;
  left: 3%;
  ;
  top: 3%;
  ;
}

.left .lbottom {
  width: 100%;
  height: 25%;
  background-color: #111;
  padding: 30px 100px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.bleft {
  width: 45%;
  /* background-color: red; */
}

.bleft h3 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 15px;
}

.bleft p {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.9px;
  opacity: 0.7;
}

.bright {
  width: 45%;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bright .h4 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 15px;
}

.bright .row {
  display: flex;
  justify-content: space-between;
}

.bright .row .left {
  display: flex;
}

.bright .row .left .leftdiv {
  /* display: flex; */
  margin-left: 10px;
}

.left .icon {
  font-size: 11px;
}

.row .left h4 {
  font-size: 11px;
  font-weight: 500;
}

.row .left p {
  font-size: 9px;
  color: gray;
  font-weight: 300;
}

.right .rtop {
  width: 100%;
  height: 75%;
  background-color: #fff;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.right .rbottom {
  width: 100%;
  height: 25%;
  /* background-color: chocolate; */
  background-image: url(https://images.unsplash.com/photo-1592296429945-93008c7e5a59?q=80&w=873&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.rbottom .card {
  width: 75%;
  /* height: 10px; */
  position: absolute;
  background-color: whitesmoke;
  border-radius: 4px;
  padding: 2px 4px;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, 0);
}

.card h3 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 3px;
}

.card h5 {
  font-size: 9px;
  color: gray;
  opacity: 0.8;
}

.right .rtop a {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.right .rtop a:nth-child(3)::before {
  content: "-";
  margin-right: 2px;
}

.rtop .icon {
  position: absolute;
  right: 8%;
  top: 2%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rtop .icon i {
  font-size: 18px;
  font-weight: 500;
}

.flower {
  width: 80px;
  position: absolute;
  height: 120px;
  bottom: 0%;
  left: 0%;
  /* background-color: #000; */
  /* background-image: url(https://images.unsplash.com/photo-1546471180-335a013cb87b?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}